/*
    filters (btn)
    block
*/

.btn {
  border-radius: 4px;
  background-color: $background-color-secondary;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;
  text-align: center;
  cursor: pointer;
  border-style: none;
  padding: 6px 22px;
  transition: color $trans-duration $timing-function,
    background-color $trans-duration $timing-function, box-shadow $trans-duration $timing-function;

  &__start {
    color: $text-white;
    background-color: $color-axcent;
  }

  &:hover,
  &:focus {
    color: $text-white;
    background-color: $color-axcent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

/*
filters (btn-grid)
block
*/

.btn-grid {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  &__item:not(:last-child) {
    margin-right: 8px;
  }

  @media screen and (max-width: calc($tablet - 1px)) {
    flex-wrap: wrap;
    justify-content: start;
    margin-bottom: 40px;

    &__item:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 50px;
  }
}
