/* logo component */ 

.logo {
    font-family: $font-logo;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    
    &__span {
        color: $color-axcent;
    }
}


.header__logo {
    @include logo-secondary-color($text-black);
    margin-right: 93px;
}

.footer__logo {
    @include logo-secondary-color($text-white);
}