    //      common

body {
    font-family: $font-main;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.17;
    color: $main-text-color;
    background-color: $background-color-primary;
}

.container {
    margin: 0 auto;
    width: 1200px;
    padding: 0 15px;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;

    &__title {
            font-size: 36px;
            font-weight: 700;
            letter-spacing: 0.03em;
            text-align: center;
            margin-bottom: 50px;
        }
}