$color-axcent: #2196f3;
$color-axcent-dark: #188ce8;
$main-text-color: #212121;
$background-color-primary: #ffffff;
$background-color-secondary: #f5f4fa;
$background-color-footer: #2f303a;
$text-white: #ffffff;
$text-black: #000000;
$text-grey: #757575;
$fill-grey: #afb1b8;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$trans-duration: 250ms;
$font-main: 'Roboto', sans-serif;
$font-logo: 'Raleway', sans-serif;
$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;
$mobile-columns-quontity: 1;
$tablet-columns-quontity: 2;
$desktop-columns-quontity: 4;
$desktop-columns-quontity-cases: 3;
$columns-gap: 30px;
